server:
  port: 8000
spring:
  application:
    name: java-learn
  redis:
    host: 127.0.0.1
    port: 6379
    database: 0
    password:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/xxxx?useSSL=false&serverTimezone=UTC
    username: root
    password: xxxxxxx
    driver-class-name: com.mysql.cj.jdbc.Driver
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: admin
    password: admin
    virtual-host: /
logging:
  level:
    com.zenith: debug
